<html>
	<head>
  <title>Python Flask App with POSTGRES DB</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    table {
      table-layout: auto;
      width: 100%;
    }
    td:last-child {
      width: 1%;
      white-space: nowrap;
    }
  </style>
</head>
  <body>
    <h1>Python Flask App with POSTGRES DB</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
     <tbody>
  {% for row in data %}
  <tr>
    <td>{{ row.id }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.price }}</td>
    <td>
      <div style="display: flex; gap: 10px; align-items: center;">
        <form action="/update" method="post" style="display: flex; gap: 5px; margin: 0;">
          <input type="hidden" name="id" value="{{ row.id }}">
          <input type="text" name="name" value="{{ row.name }}">
          <input type="text" name="price" value="{{ row.price }}">
          <input type="submit" value="Update">
        </form>
        <form action="/delete" method="post" style="margin: 0;">
          <input type="hidden" name="id" value="{{ row.id }}">
          <input type="submit" value="Delete">
        </form>
      </div>
    </td>
  </tr>
  {% endfor %}
</tbody>
    </table>
    <h2>Create a new product</h2>
    <form action="/create" method="post">
      <input type="text" name="name" placeholder="Name" autocomplete="off">
      <input type="text" name="price" placeholder="Price" >
      <input type="submit" value="Create">
    </form>
  </body>
</html>
